AzureWebJobsStorage=UseDevelopmentStorage=true
AzureWebJobs.HttpTrigger1.Disabled=false
AdminPassword=
UploadPassword=$
AzureWebJobsStorage=
OpenAiApiKey=
OpenAiChat=chat
OpenAiVersion=2023-07-01-preview
OpenAiEmbedding=embedding
OpenAiKey=
OpenAiEndPoint=
FormRecognizerEndPoint=https://<>.cognitiveservices.azure.com
FormRecognizerKey=
MaxTokens=500,
Temperature=0.3,
OpenAiDocStorName=
OpenAiDocStorConnString=
OpenAiDocStorKey=
OpenAiDocContainer=chatpdf
SearchService=dataaioaicg
SearchKey=
